<main ng-controller="AdminCtrl" ng-init="get_venues()">
    <!-- HOME -->
    <div class="navbar-fixed"">
    <nav class="nav-wrapper" id="admin-navbar" role="navigation" >
      <div class="container" id="admin-header">
        <a class="brand-logo"><img src="assets/images/icon.png" class="acsslogo"></a>
        <ul class="right hide-on-med-and-down">
          <li><a class="header-link white-text s12 tooltipped" data-position="center" data-delay="50" data-tooltip="Home" id="home" href="/#/admin" class="current"><i class="material-icons">store</i></a></li>         
          <li><a class="header-link white-text s12 tooltipped" data-position="center" data-delay="50" data-tooltip="Venues" id="venues" href="/#/admin_venues"><i class="material-icons">room</i></a></li>
          <li><a class="header-link white-text s12 tooltipped" data-position="center" data-delay="50" data-tooltip="Users" id="users" href="/#/admin_users"><i class="material-icons">perm_identity</i></a></li>
          <li><a class="header-link white-text s12 tooltipped" data-position="center" data-delay="50" data-tooltip="Settings" id="settings" ng-init="sign_out()" ng-click="sign_out_clicked()"><i class="material-icons">toc</i></a></li>
        </ul>
      </div>
    </nav>
  </div>


  <div class="row" id="admin-body" ng-init="get_logged()">
    <div class="container" id="admin-events"> 
      
      <div class="col s12 m4 l3">
        <div class="card white" style="margin-top: 30px; margin-left: 15px; margin-right: 10px;">
          <div class="container">
            <div class="card-content black-text center-align">
              <span class="card-title"><img class="circle resposive-img" src="assets/images/icon.png" style="width:150px;height: 150px; display: block; margin: auto;"></span>
            </div>
              <div class="center-align" ng-model="logged_user" >
                <p><h5>{{logged_user.fname + ' ' + logged_user.mname + ' ' + logged_user.lname}}</h5></p>
                <p>{{logged_user.occ}}</p>
                <p>{{logged_user.eadd}}</p>
                <p>{{logged_user.contno}}</p>
              </div>
            <div class="card-action center-align">
              <a href="#"></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12 m8 l9">
        <div class="card row s12 m8" style="margin-top: 30px; margin-left: 10px; margin-right: 10px; margin-bottom: 10px">
          <div class="card-action left col s6 center-align">
            <a class="waves-effect waves-light btn blue col s12" ng-click="print()">Get PDF</a>
          </div>
          <div class="card-action left col s6 center-align" >
            <a class="waves-effect waves-light btn blue col s12" data-target='modal2' href="/#/admin_add_venue">Add a Venue</a>
          </div>
          <div class="card-action left col s6 center-align" id="srchEventBtn">
            <a class="waves-effect waves-light btn blue col s12" ng-click="search_venue_click()">Search a  Venue</a>
          </div>     
          <form>
          <div class="input-field col s6 right" style="margin-bottom:-10px;">
            <input id="search" type="search" class="grey lighten-3" ng-model="search" ng-init="search_venue()" required>
          <!-- <label for="search">search</label> -->
            <i class="material-icons">close</i>
          </div>
        </form>           
        </div>
      </div>

      <div class="col s12 m8 l9" id="Venues">
        <div ng-repeat = "venue in venues"   class="card row s12 m8" style="margin-top: 30px; margin-left: 10px; margin-right: 15px; margin-bottom: 20px">
          <ul class='collection' id="collection">
            <li class='collection-header center-align white' style="margin-top: 25px;"><h5>{{venue.vname | uppercase}}</h5></li>
            <li class = 'collection-item white'> 
                <ul class='collection'>
                    <li class='collection-item grey lighten-3'>Venue No: {{venue.venue_no}}</li>
                    <li class='collection-item grey lighten-3'>Address: {{venue.vaddress}}</li>
                    <li class='collection-item grey lighten-3'>Capacity: {{venue.vcapacity}}</li>
                    <li class='collection-item grey lighten-3'>Price: {{venue.vprice}}</li>
                    <!-- <li class='collection-item grey lighten-3'> -->
                    
                    <!-- </li> -->
                    <div class="col s12 m6 l6">
                      <a class="waves-effect waves-light btn blue col s12" data-target="modal1" ng-click="edit_venue(venue)">Edit venue</a>
                    </div>
                    <div class="col s12 m6 l6">
                      <a class="waves-effect waves-light btn blue col s12" ng-click="delete_venue(venue)">Delete venue</a>
                    </div>
                </ul>
                
            </li>
          </ul>
        </div>
      </div>
  </div>

  <!-- Modal Structure -->
      <div id="modal1" class="modal" ng-model="toedit">
      <div class="modal-content">
         <div class="col s11" >
            <div class="col s12">
            <div id="rows" class="row">
              <div class="col s12">
                <div class="card" style="margin-top: 30px; margin-left: 10px;">
                  <div class="card-content black-text">
                    <span class="card-title">Edit information</span>
                    <div class="row">
                      <form class="col s12">
                        <div class="row">
                          <div class="input-field col s12">
                              <input  ng-model="vname" type="text" class="validate">
                              <label for="ename">Venue Name</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s12">
                            <input ng-model="vcapacity" type="text" class="validate">
                            <label for="vcapacity">Capacity</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s12">
                            <input ng-model="vprice" type="text">
                            <label for="vprice">Price</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s12">
                              <input ng-model="vaddress" type="text" class="validate">
                              <label for="vaddress">Address</label>
                          </div>
                        </div>
                      </form>
                    </div>
                       <div class="card-action center">
                        <a id="editbtn" class="waves-effect waves-light btn blue" ng-click="edit_venue_clicked(toedit)">Edit Venue</a>
                      </div>
                  </div>
                  
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
</main>
<script>

  $(document).ready(function () {
      // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
      // $('.modal-trigger').leanModal();
      $('.modal').modal();
 
  });
</script>
