<main ng-controller="UserCtrl" ng-init="add_event()">
    <!-- HOME -->
    <div class="navbar-fixed"">
    <nav class="nav-wrapper" id="admin-navbar" role="navigation" >
      <div class="container" id="admin-header">
        <a class="brand-logo"><img src="assets/images/icon.png" class="acsslogo"></a>
        <ul class="right hide-on-med-and-down">
          <li><a class="header-link white-text s12 tooltipped" data-position="center" data-delay="50" data-tooltip="Home" id="home" href="/#!/user" class="current"><i class="material-icons">store</i></a></li>         
          <li><a class="header-link white-text s12 tooltipped" data-position="center" data-delay="50" data-tooltip="Venues" id="venues" href="/#!/user_search_venue"><i class="material-icons">room</i></a></li>
          <li><a class="header-link white-text s12 tooltipped" data-position="center" data-delay="50" data-tooltip="Users" id="users" href="/#!/user"><i class="material-icons">perm_identity</i></a></li>
          <li><a class="header-link white-text s12 tooltipped" data-position="center" data-delay="50" data-tooltip="Settings" id="settings" ng-init="sign_out()" ng-click="sign_out_clicked()"><i class="material-icons">toc</i></a></li>
        </ul>
      </div>
    </nav>
  </div>


  <div class="row" id="user-body" ng-init="get_logged()">
    <div class="container" id="user-add-event">
    
      <div class="col s12 m4 l3">
        <div class="card white" style="margin-top: 30px; margin-left: 15px; margin-right: 10px;">
          <div class="container">
            <div class="card-content black-text center-align">
              <span class="card-title"><img class="circle resposive-img" src="assets/images/icon.png" style="width:150px;height: 150px; display: block; margin: auto;"></span>
            </div>
              <div class="center-align" ng-model="logged_user" >
                <p><h5>{{logged_user.fname + ' ' + logged_user.mname + ' ' + logged_user.lname}}</h5></p>
                <p>{{logged_user.occ}}</p>
                <p>{{logged_user.eadd}}</p>
                <p>{{logged_user.contno}}</p>
              </div>
            <div class="card-action center-align">
              <a>Edit profile</a>
            </div>
            <div class="card-action center-align">
              <a class="center" href="/#!/user_pending_events">Pending Events</a>
            </div>
          </div>
        </div>
      </div>

    <div class="col s12 m9 l9">
          <div id="rows" class="row">
            <div class="col s12">
              <div class="card" style="margin-top: 30px; margin-left: 10px;">
                <div class="card-content black-text">
                  <span class="card-title">Input information</span>
                  <div class="row">
                  <form class="col s12">
                    <div class="row">
                      <div class="input-field col s12">
                          <input  ng-model="ename" type="text" class="validate">
                          <label for="ename">Event Name</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s4">
                        <input ng-model="edate" type="text" class="validate">
                        <label for="edate">Date (YYYY-MM-DD)</label>
                      </div>
                      <div class="input-field col s4">
                        <input ng-model="etime" type="text">
                        <label for="etime">Time (Military)</label>
                      </div>
                      <div class="input-field col s4">
                        <input ng-model="eduration" type="text">
                        <label for="eduration">Duration</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s4">
                        <input ng-model="venue" type="text" class="validate" length="15">
                        <label for="venue">Venue</label>
                      </div>
                      <div class="input-field col s4">
                        <input ng-model="eattendees" type="text" class="validate" length="15">
                        <label for="eattendees">Attendees</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12">
                          <input ng-model="epurpose" type="text" class="validate">
                          <label for="epurpose">Purpose</label>
                        </div>
                    </div>
                  </form>
                  </div>
                    <form action="#">
                      <p>
                        <input type="checkbox" id="test5" ng-model="checkbox" ng-init="checkbox=false">
                        <label for="test5">I agree with terms and conditions.</label>
                      </p>
                    </form>
                  </div>
                  <div class="card-action center" ng-if="checkbox">
                    <a class="waves-effect waves-light btn blue" ng-click="clicked()">Add Event</a>
                  </div>
              </div>
            </div>
          </div>
        </div>
    </div>

  </div>         
</main>
